body{
	margin: 0;
	padding: 0;
	background-color: #9E5428;
	font-family: Arial;
}
a{
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	color: white;
}
header{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}
.logo{
	width: 100px;
	height: 100px;
}
.logo img{
	width: 100px;
	height: 100px;
}

.searchbar{
	width: 700px;
	height: 50px;
	background-color: #F8BD97;
	border:none;
	outline:none;
	border-radius: 50px;
	font-size: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 10px
}
.searchbar::placeholder{
	font-size: 25px;

}
.menu{
	width: 170px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: -30px;
}
.sr{
	display: flex;
	justify-content: space-between;
}
.srr img{
	width: 50px;
	height: 50px;
}
.but{
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}
.but:hover{
	border: 1px solid white;
}
.menuicon{
	width: 80px;
	height: 80px;
}

.menuicon img{
	width: 80px;
	height: 80px;
}
.header{
	width: 100%;
	height: 100px;
	margin-top: 20px;
	display: none;
}
.logo2{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-around;
}
.logo2 img{
	width: 100px;
	height: 100px;
}

.searchbar2{
	width: 700px;
	height: 50px;
	background-color: #F8BD97;
	border:none;
	outline:none;
	border-radius: 50px;
	font-size: 25px;
	padding-left: 20px;
	padding-right: 30px;
	margin-right: 10px;
}
.searchbar2::placeholder{
	font-size: 25px;

}
.menu2{
	width: 170px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: -30px;
}
.sr2{
	display: flex;
	justify-content: space-around;
}
.srr2 img{
	width: 50px;
	height: 50px;
}
.but2{
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}
.but2:hover{
	border: 1px solid white;
}
.menuicon2{
	width: 80px;
	height: 80px;
}

.menuicon2 img{
	width: 80px;
	height: 80px;
}

.reklama{
	width: 60%;
	margin: 50px auto;
	height: 300px;
}

.reklama h1{
	color: #F8BD97;
	margin-left: 70px;
}

.slider{
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.slider a{
	height: 20px;
}
.a_sl{
	height: 130px;
}
.slider_book{
	width: 140px;
	height: 170px;
	margin-top: 50px;
}
.strelka{
	width: 40px;
	height: 40px;
}
.slid_nazv{
	width: 140px;
	height: 50px;
	background-color: #F8BD97;
	opacity: 0.9;
	position: relative;
	bottom: 58px;
	text-align: center;
	padding-top: 5px;
}
.line{
	width: 60%;
	height: 2px;
	margin: -70px auto;
	background-color: black;
}
@media(max-width: 1025px) and (min-width: 770px){
	.searchbar{
		width: 500px;
	}
}
@media(max-width: 769px) and (min-width: 427px){
	.searchbar{
		width: 300px;
	}
}
@media(max-width: 426px){
	header{
		display: none;
	}
	.header{
		display: block;
	}
	.searchbar2{
		width: 70%;
	}
	.logo2 img{
	width: 70px;
	height: 70px;
	}
	.menuicon2 img{
	width: 60px;
	height: 60px;
	}
}
