body{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	z-index: 1;
	height: 80px;
	background-color: white;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	position: fixed;
	top: 0;
	left: 0;
}
.header_tablet{
	display: none;
	z-index: 1;
}
.logo img{
	width: 70px;
}
.logo{
	margin-left: 5%;
	margin-top: 0.5%;
}
.text span{
	font-size: 25px;
	font-family: Sans;
	font-weight: 100;
	cursor: default;
}

.krug{
	margin-top: -70%;
	margin-left: 37%;
	background-color: white;
	width: 5px; 
	height: 5px; 
	border: 2px solid black; 
	border-radius: 100%; 
	padding-right: 0; 
	margin-right: 0;
}

.krug2{
	margin-left: 42%;
	background-color: white;
	width: 5px; 
	height: 5px; 
	border: 2px solid #edeff2; 
	border-radius: 100%; 
	padding-right: 0; 
	margin-right: 0;
}

.progress_bar{
	height: 5px;
	width: 37%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 30.5%
}

.progress{
	width: 30%;
	height: 3px;
	background-color: #edeff2;
}

.progress2{
	background-color: black;
	margin-top: -95%;
	margin-left: 130%;
	width: 2000%;
}
.header{
	width: 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_text{
	width: 57%;
	display: flex;
	justify-content: space-between;
}



.header_tablet{
	width: 100%;
	height: 80px;
	background-color: white;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	z-index: 1;
}

.logo_t{
	margin-top: 1%;
}

.progress_bar_t{
	width: 64%;
	margin-left: 18.5%
}

.header_text_t{
	width: 35%;
}

footer{
	margin-top: 100px;
	margin-bottom: 0;
	width: 100%;
	height: 130px;
	background-color: #edeff2;
}
.footer{
	margin-top: 100px;
	width: 100%;
	height: 200px;
	background-color: #edeff2;
	display: none;
}

.label2{
	width: 60%;
	padding-top: 3%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.label2 img{
	width:30%;
	height: 36px;
}

.label{
	width: 70%;
	padding-top: 3%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.label img{
	width:15%;
	height: 40px;
}

span{
	font-family: Arial;
}

.inf{
	margin: 1% auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
}
.inf span{
	color:#153a33;
	font-family: Arial;
}
a{
	text-decoration: none;
	color:#153a33;
	font-family: Arial;
}

.name_dog_header{
	margin-top: 80px;
	z-index: 0;
	width: 100%;
	height: 40px;
	border: 0.5px solid rgba(0,0,0,0.2); 
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
}

.dogs_name_name{
	padding-top: 10px;
	color: black;
	height: 10px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex: 0 0 3;
	justify-content: center;
}
.dogs_name_name span{
	margin-left: 15px;
	font-family: Arial;
	font-size: 15px;
}
.not_active{
	color: rgba(0,0,0,0.2);
}

.active{
	color: black;
}

.content{
	width: 90%;
	margin: 200px auto;
}
.zag_cont{
	width: 25%;
	margin: 0 auto;
}
.cont_text{
	font-family: Arial;
	color: #153a33;
}

.name_dog_cont{
	font-family: Arial;
	font-weight: 900;
	color: black;
}

select{
	border: none;
	border-bottom: 2px dotted #f2674b;
	font-family: Arial;
	width: 80px;
	color: #f2674b;
	font-size: 27px;
	height: 30px;
	margin: 0 10px;
	outline:none;

}
.selectw span{
	width: 5%;
	font-size: 27px;
	margin-right: 10px;
}
.selectw{
	margin: 50px auto;
	width: 33%;
}
.selectw select{
	margin-right: 10px;
}
input{
	display: inline;
	border: none;
	border-bottom: 2px dotted #f2674b;
	font-family: Arial;
	width: 50px;
	color: #f2674b;
	font-size: 27px;
	height: 25px;
	margin: -20px 10px;
	outline:none;
	padding-left: 30px;
}
.date{
	width: 130px;
}
.selectw input{
	margin-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.we{
	width: 50%;
}
.poroda{
	width: 43%;
	margin: 0 auto;
}
.poroda input{
	width: 140px;
	margin-left: 5px;
}
.poroda select{
	width: 140px;
	margin-left: 5px;
}
.poroda span{
	margin-right: 5px;
}
.body_zag{
	margin-top: 100px;
	font-size: 25px;
	text-align: center;
}
.radio_breed {
	width: 100%;
	margin-top: 70px;
	margin-left: 30px;
	display: flex;
	justify-content: space-between;
}
.radio_breed img{
	margin-right: 4%;
	width: 80%;
}
.radio_breed label{
	display: flex;
	flex-direction: column;
}
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid rgba(0,0,0,0.2);
} 
.radio_breed425 {
	width: 100%;
	margin-top: 70px;
	margin-left: 30px;
	display: none;
}
.radio_breed425 img{
	margin-right: 4%;
	width: 80%;
}
.radio_breed425 label{
	display: flex;
	flex-direction: column;
}
.qwe{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.label_div{
	background-color: white;
	width: 5px; 
	height: 5px; 
	border: 2px solid rgba(0,0,0,0.2); 
	border-radius: 100%; 
	margin: 0 auto;
	margin-right: 0px;
}
.line{
	width: 50%;
	margin-top: 2.5px;
	height: 3px;
	background-color: rgba(0,0,0,0.2);
}
.rt{
	width: 55%;
}
.zx{
	width: 100%;
}
.t425{
	width: 100%;
	margin-left: -30px;
}
.yt425{
	width: 100%
}
.f2{
	width: 50%;
}
.name_be{
	margin-left: 140px;
	font-family: Arial;
}
.name_be2{
	font-family: Arial;
}
@media(max-width: 1025px) and (min-width: 770px ){
	.zag_cont{
		width: 35%
	}
	.selectw{
		width: 43%;
	}
	.we{
		margin-left: 32%;
	}
	.poroda{
	width: 65%;
	margin-left: 170px;
	}
	.radio_breed {
		width: 100%;
		margin-top: 70px;
		margin-left: 30px;
	}
	.name_be{
	margin-left: 80px;
	font-family: Arial;
}
}
@media(max-width: 769px) and (min-width: 427px ){
	.krug2{
	border: 2px solid black; 
	}
	.footer{
		display: block;
	}
	.inf{
	margin: 1% auto;
	width: 47%;
	display: flex;
	justify-content: space-around;
	}

	footer{
		display: none;
	}
	.header_tablet{
	display: block;
	}
    header{
	display: none;
	}
	.dogs_name_name{
		width: 100%;
	}
	.name_dog_header{
		position: relative;
		margin-top: 1px;
		z-index: -1;
	}
	.content{
		margin-top: 20px;
	}
	.selectw{
		text-align: center;
		width: 60%;
	}
	.we{
		text-align: center;
	}
	.body_zag{
	margin-top: 70px;

	}
	.radio_breed {
	width: 100%;
	margin-top: 40px;
	margin-left: 0px;
	display: none;
	}
	.radio_breed img{
	margin-right: 3%;
	width: 20%;
	}
	.radio_breed425 {
		width: 70%;
		margin-top: 40px;
		margin-left: 130px;
		display: flex;
		justify-content: space-between;
	}
	.radio_breed425 img{
		margin-right: 50px;
		width:40%;
	}
}

@media(max-width: 426px) and (min-width: 377px ){
	.footer{
		display: block;
	}
	.label2 img{
	width:40%;
	height: 36px;
}
	.inf{
	margin: 1% auto;
	width: 77%;
	display: flex;
	justify-content: space-around;
	}

	footer{
		display: none;
	}
	.header_tablet{
	display: block;
}
    header{
	display: none;
}
	.krug2{
		margin-top: -15%;
	}
	.logo img{
		width: 60px;
		margin-bottom: 4%;
	}
	.logo_t{
		margin-top: 3.7%;
	}
	.header_text_t{
	width: 43%;
	}	
	.progress2{
	width: 1230%;
	}
	.dogs_name_name{
		width: 100%;
	}
	.name_dog_header{
		position: relative;
		margin-top: 1px;
		z-index: -1;
	}
	.name_dog_header{
		position: relative;
		margin-top: 1px;
		height: 47px;
		z-index: -1;
	}
	.content{
		margin-top: 20px;
	}
	.selectw{
		width: 110%;
		margin-left: -4%;
	}
	.zag_cont{
		width: 78%;
	}
	.we{
		width: 100%;
		text-align: center;
	}
	.poroda{
	margin-left: 50px;
	width: 90%;
	}
	.body_zag{
		margin-top: 50px;
	}
	.radio_breed {
	width: 100%;
	margin-top: 40px;
	margin-left: 0px;
	display: none;
	}
	.radio_breed img{
	margin-right: 3%;
	width: 0%;
	}
	.radio_breed425 {
		width: 70%;
		margin-top: 40px;
		margin-left: 60px;
		display: flex;
		justify-content: space-between;
	}
	.radio_breed425 img{
		margin-right: 50px;
		width:60%;
	}
	.t425{
	width: 100%;
	margin-left: -10px;
	}
	.yt425{
		width: 100%
	}
	.f2{
		width: 60%;
	}
	.name_be2{
	font-family: Arial;
	font-size: 13px;
}
}

@media(max-width: 376px) and (min-width: 322px ){
	.footer{
		display: block;
	}
	.label2 img{
	width:45%;
	height: 36px;
}
	.inf{
	margin: 1% auto;
	width: 87%;
	display: flex;
	justify-content: space-around;
	}

	footer{
		display: none;
	}
		.header_tablet{
	display: block;
}
    header{
	display: none;
}
	.krug2{
		margin-top: -1%;
	}
	.logo img{
		width: 60px;
		margin-bottom: 7%;
	}
	.logo_t{
		margin-top: 3.7%;
	}
	.header_text_t{
	width: 43%;
	}	
	.progress2{
	width: 1230%;
	}
	.dogs_name_name{
		width: 100%;
	}
	.dogs_name_name span{
		font-size: 14px;
		margin-left: 10px;
	}
	.name_dog_header{
		position: relative;
		margin-top: 1px;
		height: 47px;
		z-index: -1;
	}
	.content{
		margin-top: 20px;
	}
	.selectw{
		width: 110%;
		margin-left: -4%;
	}
	.selectw span{
		margin-right: 5px;
	}
	.date{
		width: 100px;
	}
	.zag_cont{
		width: 90%;
	}
	.we{
		width: 100%;
		text-align: center;
	}
	.poroda{
	margin-left:30px;
	width: 90%;
	}
	.body_zag{
		margin-top: 50px;
	}
	.radio_breed {
	width: 100%;
	margin-top: 40px;
	margin-left: 0px;
	display: none;
	}
	.radio_breed img{
	margin-right: 3%;
	width: 0%;
	}
	.radio_breed425 {
		width: 70%;
		margin-top: 40px;
		margin-left: 50px;
		display: flex;
		justify-content: space-between;
	}
	.radio_breed425 img{
		margin-right: 50px;
		width:70%;
	}
	.t425{
	width: 100%;
	margin-left: -5px;
	}
	.yt425{
		width: 100%
	}
	.f2{
		width: 60%;
	}
	.name_be2{
	font-family: Arial;
	font-size: 13px;
}
}
@media(max-width: 321px){
	.footer{
		display: block;
	}
	.label2 img{
	width:45%;
	height: 36px;
}
	.inf{
	margin: 1% auto;
	width: 87%;
	display: flex;
	justify-content: space-around;
	}

	footer{
		display: none;
	}
		.header_tablet{
	display: block;
}
    header{
	display: none;
}
	.krug2{
		margin-top: -1%;
	}
	.logo img{
		width: 50px;
		margin-bottom: 13%;
	}
	.logo_t{
		margin-top: 7.7%;
	}
	.header_text_t{
	width: 43%;
	}	
	.progress2{
	width: 1230%;
	}
	.dogs_name_name{
		width: 100%;
	}
	.name_dog_header{
		position: relative;
		margin-top: 1px;
		z-index: -1;
		height: 47px;
	}
	.content{
		margin-top: 20px;
	}
	.selectw{
		width: 110%;
		margin-left: -7%;
	}
	.selectw span{
		margin-right: -15px;
	}
	.selectw input{
		margin-right: -6px;
	}
	.selectw select{
		margin-right: 2px;
	}
	.date{
		width: 80px;
	}
	.dogs_name_name span{
		font-size: 13px;
		margin-left: 11px;
	}
	.zag_cont{
		width: 70%;
		margin: 0 auto;

	}
	.we{
		width: 107%;
		text-align: center;
	}
	.poroda{
	margin-left: 0px;
	width: 100%;
	}
	.poroda span{
	margin-left: 10px;
	margin-right: 10px;
	}
	.body_zag{
		margin-top: 50px;
	}
	.radio_breed {
	width: 100%;
	margin-top: 40px;
	margin-left: 0px;
	display: none;
	}
	.radio_breed img{
	margin-right: 3%;
	width: 0%;
	}
	.radio_breed425 {
		width: 70%;
		margin-top: 40px;
		margin-left: 27px;
		display: flex;
		justify-content: space-between;
	}
	.radio_breed425 img{
		margin-right: 50px;
		width:90%;
	}
	.t425{
	width: 100%;
	margin-left: 4px;
	}
	.yt425{
		width: 100%
	}
	.f2{
		width: 60%;
	}
	.name_be2{
	font-family: Arial;
	font-size: 10px;
	margin-left: 13px;
}
}